GitKraken
BraveSoftware/
.org.chromium*
discord/
MongoDB Compass
dconf/
pulse/
nvim/plugin/
gh/
GIMP/
github-copilot/
inkscape/
mimeapps.list
gtk-*/
glib-*/
nitrogen/
yay/
systemd/
Electron/
Code/
turborepo/
ranger/plugins/
procps/
chromium/
Thunar/
xfce4/
Miru/
Postman/
Termius/
htop/
spotify/
menus/
Taskade/
obs-studio
libreoffice/
Logseq/
Microsoft*
discordcanary/
Code - Insiders/
simple-update-notifier/
vlc/
wireplumber/
google-chrome/
graphite/
obsidian/
autostart/
ardour7/
configstore/
Docker Desktop/
trashrc
.config/session
vesktop/
JetBrains/
unity3d/
blender/
com.gitbutler.app*
go/
qBittorrent/
unityhub/
QtProject.conf
cava
Google/
Unity/
nextjs-nodejs/