@import "macchiato.css";

* {
    font-family: FantasqueSansM Nerd Font;
    font-size: 17px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    margin-left: 1rem;
    background-color: @surface0;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button.empty {
    color: @subtext1;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#tray,
#backlight,
#clock,
#window,
#battery,
#pulseaudio,
#memory,
#custom-notifications {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#backlight,
#battery {
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
}

#memory {
    color: @flamingo;
    border-radius: 0;
}


#window {
    color: @mauve;
    border-radius: 1rem;
    margin-left: 1rem;
}

#tray {
    border-radius: 1rem;
}


#custom-notifications {
    color: @sapphire;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*
#custom-lock {
    margin-left: 1rem;
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-power {
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}
*/
